html 
{
    background-color:#ffffff; 
    
    }
.form-wrapper
{
    width:100%;
    height:100%;
}
/* Header */

.header 
{
    width: 100%;    
    margin:0 auto 0;
    display:block;
}

.header-content 
{
    width:100%;
}
.header-content-logo 
{
    height: 70px;
    /*background-color:#4d90fe;*/
    background-color:#ffffff;
    width:100%;
                   
}
.header-content-logo .left-logo
{
    padding:15px 0 5px 30px;
    float:left;
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    color: #317eac;
    text-rendering: optimizelegibility;
    
}

.header-content-logo .right-logo
{
    float:right;
    padding:20px 20px 5px 0;
}

.header-content-name 
{
    background: #5c9ccc url(../../img/Header.png) 50% 50% repeat-x;
	border: 1px solid #4297d7;	
	
	height:18px;
}
.header-content-name-text 
{
    float:right;
    margin-right:5px;
    font-weight:normal;
    font-size:8px;
 }
	
.header-menu{font-family:Arial,sans-serif;font-size:12px;background-color:#f5f5f5;width:auto;height:35px;border-bottom: 1px solid #d4d4d4;margin:0 auto 0;padding:0 20px;display:block;line-height:1;}
.header-menu h1,.header-menu ul,.header-menu p,.header-menu img{margin:0;padding:0;border:0}
.header-menu h1{font-weight:normal}
.header-menu ul{list-style:none;}
.header-menu a{text-decoration:none;color:#fafafa}
.header-menu .menu-label{font-weight:bold;text-transform:uppercase;font-family:Arial,sans-serif;font-size:11px;font-style:normal;}
.header-menu .menu-top>li{float:left;position:relative;text-align:center;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
.header-menu .menu-top>li:hover{background-color:#4d90fe;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
.header-menu .menu-top .menu-right{float:right}
.header-menu .menu-button{display:block;line-height:35px;padding:0 15px;color:#404040;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;-o-transition:color .2s;transition:color .2s}
.header-menu li:hover .menu-button{text-decoration:none;color:#fafafa;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;-o-transition:color .2s;transition:color .2s}
.header-menu .menu-drop{padding-right:15px}
.header-menu .menu-drop .menu-label{padding-right:20px;background:url("../../img/menu/drop1.png") no-repeat right;-webkit-transition:background .2s;-moz-transition:background .2s;-ms-transition:background .2s;-o-transition:background .2s;transition:background .2s}
.header-menu li:hover .menu-drop .menu-label{text-decoration:none;background:url("../../img/menu/drop2.png") no-repeat right;-webkit-transition:background .2s;-moz-transition:background .2s;-ms-transition:background .2s;-o-transition:background .2s;transition:background .2s}
.header-menu .menu-dropdown{text-align:left;background-color:#4d90fe;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-ms-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;position:absolute;left:-5000px;opacity:0;z-index:100}
.header-menu li:hover .menu-dropdown{text-decoration:none;left:0;opacity:1;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}
.header-menu .menu-right:hover .menu-dropdown{left:auto;right:0}
.header-menu .menu-sub{margin:5px 0}
.header-menu .menu-sub li{white-space:nowrap;-webkit-transition:background-color .1s;-moz-transition:background-color .1s;-ms-transition:background-color .1s;-o-transition:background-color .1s;transition:background-color .1s}
.header-menu .menu-sub li:hover{text-decoration:none;background:#f1f1f1 url("../../menu/select.png") no-repeat 10px;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
.header-menu .menu-subbutton{display:block;padding:7px 20px;line-height:1.3;color:#fafafa;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;-o-transition:color .2s;transition:color .2s}
.header-menu .menu-sub li:hover .menu-subbutton{text-decoration:none;color:#404040;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;-o-transition:color .2s;transition:color .2s}
.header-menu .menu-desc{font-style:italic;color:#eaeaea;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;-o-transition:color .2s;transition:color .2s}
.header-menu .menu-sub li:hover .menu-desc{text-decoration:none;color:#d0d0d0;-webkit-transition:color .2s;-moz-transition:color .2s;-ms-transition:color .2s;-o-transition:color .2s;transition:color .2s}
.header-menu .menu-row{vertical-align:text-top;display:inline-block;zoom:1;*display:inline}
.header-menu .menu-row .menu-sub{margin:0}
.header-menu h1{font-size:2em;color:#e0e0e0}
.header-menu p{color:#f0f0f0}
.header-menu .emp{font-weight:bold}
.header-menu .quote{font-style:italic}
.header-menu .menu-dropdown3{padding-top:5px;white-space:nowrap}
.header-menu .menu-dropdown3 h1{margin:0 0 5px 15px}
.header-menu .menu-dropdown3 .menu-row{border-right:1px dotted #707070;margin:5px 0}
.header-menu .menu-dropdown3 .menu-row:last-child{border-right:0}
.header-menu .menu-dropdown4{padding-top:5px;white-space:nowrap}
.header-menu .menu-dropdown4 h1{margin:0 0 5px 15px}
.header-menu .menu-dropdown4 .menu-row div{border-right:1px dotted #707070;margin:5px 0 10px 0}
.header-menu .menu-dropdown4 .menu-row:last-child div{border-right:0}
.header-menu .menu-dropdown4 .menu-row div:last-child{margin-bottom:5px}
.header-menu .menu-dropdown6 img{margin-right:5px;vertical-align:middle}
.header-menu .menu-dropdown6 .menu-label{vertical-align:middle}
.header-menu .menu-dropdown6 .menu-subbutton{padding:5px 20px}
.header-menu .menu-dropdown7{padding:10px;width:210px}
.header-menu .menu-dropdown7 p{margin-top:7px}
.header-menu .menu-dropdown7 h1{color:#f0f0f0;padding-bottom:3px;border-bottom:1px solid #e0e0e0}

/* Content */

.content 
{
    
    height:100%;
    margin: 10px 20px 40px 20px;    
    background-color:#ffffff; 
    
    
}

.desktop {display: none;}

/* modal-loader */
.modal-loader {
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #000000 
                url('../../img/ajax-loaders/ajax-loader-9.gif') 
                50% 50% 
                no-repeat;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;

}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loader {
    display: block;
}

.page-loader {	
	
	position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: url('../../img/ajax-loaders/ajax-loader-9.gif') 50% 50% no-repeat rgb(249,249,249);
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}

/* Footer */

.footer 
{
    width: 100%;
    padding:2px 0 2px 0;
    background-color:#3C3C3B;  
    position:fixed;
    bottom:0;  
    left:0;
    border-top: 1px solid #000000;
   
}

.footer-content 
{
  text-align:center;  
  color:#B2B2B2; 
  font-size:10px;
}


/* GridView Pagination */

.gridViewPagination
{
  line-height: 1px;
  background-color:#ffffff;
  color:#369bd7;    
  margin: 10px;    
}

.gridViewPagination span
{
  padding: 5px;
  border: solid 1px #dddddd;
  text-decoration: none;
  white-space: nowrap;
  background: #f5f5f5;
  color:#999999;
}

.gridViewPagination a, 
.gridViewPagination a:visited
{
  text-decoration: none;
  padding: 6px;
  white-space: nowrap;
  color:#369bd7;
}
.gridViewPagination a:hover, 
.gridViewPagination a:active
{
  padding: 5px;
  border: solid 1px #dddddd;
  text-decoration: none;
  white-space: nowrap;
  background: #f5f5f5;
  color:#369bd7;
}